<mat-toolbar class="header" color="primary">
  <div class="container">
    <div class="body">
      <a class="logo" routerLink="/">
        <img src="../../favicon.ico" alt="logo" />
      </a>

      <nav class="nav" [class.active]="routesService.menuActivated">
        <button
          (click)="routesService.toggleMenu()"
          class="menu"
          mat-icon-button
        >
          <mat-icon>menu</mat-icon>
        </button>

        <mat-list class="list">
          <mat-list-item
            *ngFor="let route of routesService.routes"
            class="item"
          >
            <a
              (click)="route.handler($event)"
              (click)="routesService.closeMenu()"
              mat-button
              [routerLink]="route.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ route.title | titlecase }}
            </a>
          </mat-list-item>
        </mat-list>
      </nav>
    </div>
  </div>
</mat-toolbar>
