<mat-card>
  <mat-card-title class="text-center">Log in your account</mat-card-title>

  <br />

  <mat-card-content>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <app-form-field-input
        label="Email"
        [errorMessage]="getLoginError"
        [control]="login"
        type="email"
      ></app-form-field-input>

      <app-form-field-input
        label="Password"
        [errorMessage]="getPasswordError"
        [control]="password"
        type="password"
      ></app-form-field-input>

      <app-button
        class="full-width"
        type="submit"
        [pending]="pending"
        text="Log in"
      ></app-button>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <app-progress-bar [pending]="pending"></app-progress-bar>
  </mat-card-footer>
</mat-card>
