.collection {
  width: 100%;
}

a {
  display: inline-block;
  width: 100%;
}
.collection-content {
  padding: 5px 0px;
}

.img {
  cursor: pointer;
  display: inline-block;
  height: 200px;
  object-fit: cover;
  background-color: #c0bfbf;
}

.contain {
  object-fit: contain;
  background-color: white;
}

.buttons {
  display: flex;

  button {
    flex-grow: 1;
  }
}
