<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <app-form-field-textarea
    [control]="this.formGroup.get('comment')!"
    [rows]="1"
    label="Comment here"
    required
  ></app-form-field-textarea>

  <app-form-button
    [pending]="this.formGroup.pending"
    text="Send"
  ></app-form-button>
</form>

<ul class="list">
  <li *ngFor="let comment of commentService.comments.reverse()">
    <div>
      <h5 [routerLink]="'/user/' + comment.id_user" class="title">
        {{ comment.user.name }}
      </h5>

      <div class="row">
        <mat-icon>access_time</mat-icon>

        <p>
          {{ moment(comment.createdAt).fromNow() }}
        </p>
      </div>

      <p>{{ comment.comment }}</p>
    </div>
    <hr />
  </li>
</ul>
