<section class="section">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <h2 class="section-title text-center">{{ title }}</h2>

        <form (ngSubmit)="submitForm()" [formGroup]="form">
          <app-uppy></app-uppy>

          <app-form-field-input
            [control]="name"
            label="Name"
            required
          ></app-form-field-input>

          <app-form-field-select
            [control]="id_topic"
            [list]="topics"
            label="Topic"
            required
          ></app-form-field-select>

          <app-form-field-textarea
            [control]="description"
            label="Description"
          ></app-form-field-textarea>

          <app-button
            class="full-width"
            type="submit"
            [pending]="pending"
            [text]="buttonText"
          ></app-button>
        </form>
      </mat-card-content>

      <mat-card-footer>
        <app-progress-bar [pending]="pending"></app-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
