@use "~@angular/material" as mat;

@import "normalize.css";
//@import "app/uppy/uppy";

$primary-color: mat.get-color-from-palette(mat.$indigo-palette, 500);
$info-color: mat.get-color-from-palette(mat.$indigo-palette, 300);
$success-color: mat.get-color-from-palette(mat.$green-palette, 300);
$warn-color: mat.get-color-from-palette(mat.$yellow-palette, 300);
$error-color: mat.get-color-from-palette(mat.$red-palette, 300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  max-width: 1070px;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
}

.section {
  height: 100%;
  padding: 20px 0px;
}

.full-width {
  width: 100%;
}
.text-center {
  text-align: center;
}

.primary {
  background-color: $primary-color;
}

.primary-text {
  color: $primary-color;
}

.info {
  background-color: $info-color;
}

.info-text {
  color: $info-color;
}

.success {
  background-color: $success-color;
}

.success-text {
  color: $success-color;
}

.warn {
  background-color: $warn-color;
}

.warn-text {
  color: $warn-color;
}

.error {
  background-color: $error-color;
}

.error-text {
  color: $error-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
