<mat-card>
  <mat-card-content>
    <form (ngSubmit)="submitForm()" [formGroup]="form">
      <app-uppy></app-uppy>

      <br />

      <app-form-field-input label="Name" [control]="name" required>
      </app-form-field-input>

      <app-form-field-select
        label="Topic"
        [control]="id_topic"
        [options]="topics"
        required
      ></app-form-field-select>

      <app-form-field-textarea
        label="Description"
        [control]="description"
        required
      ></app-form-field-textarea>

      <app-button
        class="full-width"
        [text]="button?.text || buttonDefault.text"
        [pending]="pending"
        type="submit"
        [color]="button?.color || buttonDefault.color"
      ></app-button>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <app-progress-bar [pending]="pending"></app-progress-bar>
  </mat-card-footer>
</mat-card>
