<mat-card class="collection">
  <mat-card-header>
    <mat-card-title>{{ collection.name }}</mat-card-title>

    <mat-card-subtitle>{{ collection.topic.name }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="collection-content">
    <img
      [routerLink]="'/collection/' + collection.id"
      class="img"
      [class.contain]="isImageLoading"
      mat-card-image
      [src]="image"
      [alt]="'collection-' + collection.id + '-image'"
    />

    <p>
      {{ collection.description }}
    </p>
  </mat-card-content>

  <mat-card-actions class="buttons">
    <button
      *ngIf="collection.isViewable"
      mat-button
      [routerLink]="'/collection/' + collection.id"
      color="primary"
    >
      View
    </button>

    <button
      *ngIf="collection.isChangeable"
      mat-button
      color="accent"
      [routerLink]="'/collection/edit/' + collection.id"
    >
      Change
    </button>

    <button
      *ngIf="collection.isRemovable"
      (click)="confirmRemove()"
      mat-button
      color="warn"
    >
      Remove
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #dialogComponent>
  <app-dialog
    [title]="dialog.title!"
    [text]="dialog.text!"
    [actions]="dialog.actions!"
  ></app-dialog>
</ng-template>
