<mat-card>
  <mat-card-title class="text-center">Create your account</mat-card-title>

  <br />

  <mat-card-content>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <app-form-field-input
        label="Name"
        [errorMessage]="getNameError"
        [control]="name"
      ></app-form-field-input>

      <app-form-field-input
        label="Email"
        [errorMessage]="getEmailError"
        [control]="email"
        type="email"
      ></app-form-field-input>

      <app-form-field-input
        label="Password"
        [errorMessage]="getPasswordError"
        [control]="password"
        type="password"
      ></app-form-field-input>

      <app-form-field-input
        label="Repeat password"
        [errorMessage]="getRepeatPasswordError"
        [control]="repeatPassword"
        type="password"
      ></app-form-field-input>

      <app-button
        class="full-width"
        type="submit"
        [pending]="pending"
        text="Register"
      ></app-button>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <app-progress-bar [pending]="pending"></app-progress-bar>
  </mat-card-footer>
</mat-card>
